<header>
        <nav>
          <div class="menu-container">
            <!-- Menu -->
            <ul class="menu">
                <li class="menu-nav">
                    <a [routerLink]="[ '/home']" routerLinkActive="active">
                        <span>Home</span>
                    </a>
                </li>
                <li class="menu-logout">
                    <a [routerLink]="[ '/login']" routerLinkActive="active" (click)="logout()">
                      <span>Logout</span>
                    </a>
                </li>  
            </ul> 
          </div>
        </nav>
</header>
<div class="fade-screen"></div>
