<div class="background">
<div class="find-rsql">
        <form #customerRsqlForm="ngForm" (ngSubmit)="search()">
            <p>
                <label for="names">Name</label>
                <input type="text" name="names" #names="ngModel" [(ngModel)]="name" required>
               
            </p>
            <p>
                <label for="surnames1">First surname</label>
                <input type="text" name="surnames1" #surnames1="ngModel" [(ngModel)]="surname1" required>
               
            </p>
            <p>
                    <label for="surnames2">Second surname</label>
                    <input type="text" name="surnames2" #surnames2="ngModel" [(ngModel)]="surname2" required>
                   
                </p>
                <p>
                    <label for="idValue">IdCard Number</label>
                    <input type="text" name="idValue" #idValue="ngModel" [(ngModel)]="idCardNumber" required>
                   
                </p>            
            <input type="submit" value="Búsqueda">
        </form>
    </div>
</div>
<!-- RESULT LIST -->
<!-- TODO: MOVER A UN COMPONENTE EXTERNO EL LISTADO DE LA BÚSQUEDA -->
<table *ngIf="customers">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Surnames </th>
            <th scope="col">ID Card</th>
            <th scope="col">View Details</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of customers">
                <td>{{item.name}}</td>
                <td>{{item.surname1}} {{item.surname2}}</td>
                <td>{{item.idCard.number}}</td>
                <td> <a [routerLink]="['/customers', item.id]"> View details </a>  </td>
            </tr>
        </tbody>
</table>
