
<div class="find-rsql">
        <form #customerRsqlForm="ngForm" (ngSubmit)="getByRsql(_customerRequest)">
            <p>
                <label for="type">Type </label>
                <input type="text" name="type" #type="ngModel" [(ngModel)]="_customerRequest.key" required>
               
            </p>
            <p>
                <label for="value">Value</label>
                <input type="text" name="value" #value="ngModel" [(ngModel)]="_customerRequest.value" required>
               
            </p>            
            <input type="submit" value="Búsqueda">
        </form>
    </div>

<div class="customer-response" *ngIf="customers">
    <ul> RESULTADO :
        <li>
          {{customer.id}}
        </li>
        <li>
          {{customer.name + ' ' + customer.surname1}}
        </li>
        <li *ngFor="let item of customers">
            {{item.name}} {{item.surname1}} {{item.surname2}} - {{item.idCard.number}}
        </li>
    </ul>
</div>

