
<div class="find-rsql">
        <form #customerRsqlForm="ngForm" (ngSubmit)="search()">
            <p>
                <label for="type">Name</label>
                <input type="text" name="type" #type="ngModel" [(ngModel)]="name" required>
               
            </p>
            <p>
                <label for="value">First surname</label>
                <input type="text" name="value" #value="ngModel" [(ngModel)]="surname1" required>
               
            </p>            
            <input type="submit" value="Búsqueda">
        </form>
    </div>

<div class="customer-response" *ngIf="customers">
    <ul> RESULTADO :
        <li *ngFor="let item of customers">
            {{item.name}} {{item.surname1}} {{item.surname2}} - {{item.idCard.number}}
        </li>
    </ul>
</div>

