
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Customer API
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
            <a [routerLink]="[ '/customers']" routerLinkActive="active"> Customers</a>
            <a [routerLink]="[ '/economic']" routerLinkActive="active"> Economic Activities</a>
            <a [routerLink]="[ '/job']" routerLinkActive="active"> Job Types</a>
            <a [routerLink]="[ '/legal']" routerLinkActive="active"> Legal Entities</a>
            <a [routerLink]="[ '/professions']" routerLinkActive="active"> Professions </a>
    </div>
  </div>
  <div class="dropdown">
  <button class="dropbtn" >Policies API
    <i class="fa fa-caret-down"></i> 
  </button>
  <div class="dropdown-content">
    <a [routerLink]="[ '/policies']" routerLinkActive="active"> Policies</a>
  </div>
</div>
  <a class="logout" [routerLink]="[ '/login']" routerLinkActive="active" (click)="logout()"> Logout </a>
</div>
