<header>
        <nav>
          <div class="menu-container">
            <!-- Menu -->
            <ul class="menu">
                <li class="menu-nav">
                    <a [routerLink]="[ '/home']" routerLinkActive="active">
                        <span>Home</span>
                    </a>
                </li>
                <li class="menu-logout">
                    <a [routerLink]="[ '/login']" routerLinkActive="active" (click)="logout()">
                      <span>Logout</span>
                    </a>
                </li>  
            </ul> 
          </div>
        </nav>
</header>
<div class="fade-screen"></div>
<body>
        <div class="economic-response" *ngIf="economicResponse">
            <ul>    
                    <li class="economic-id">
                        <p> Id: {{ economicResponse.id }}</p>
                    </li>
                    <li class="economic-name">
                        <p> Contact: {{ economicResponse.name }}</p>
                    </li>
                    <li class="economic-metadata">
                        <p>Owner: {{economicResponse.metadata.owner}}</p>
                        <p>ExternalCode: {{ economicResponse.metadata.externalCode}}</p>
                        <p>Source:  {{ economicResponse.metadata.source }}</p>
                        <p>Created: {{economicResponse.metadata.created}}</p>
                    </li>
            </ul>
        </div>  
        <div class="find-form">
            <form #customerIdForm="ngForm" (ngSubmit)="getById(id)">
                <p>
                    <label for="id">Economic Activity Id</label>
                    <input type="text" name="id" #id="ngModel" [(ngModel)]="economicId" required>
                    <span *ngIf="id.touched && !id.valid">
                        Es obligatorio indicar un ID
                    </span>
                </p>
                <input type="submit" value="Búsqueda">
            </form>
        </div>
        </body>